[flake8]
exclude = build,dist,docs/conf.py,*.egg-info,.eggs,.cache,.git,.tox
inline-quotes = '
application-import-names = sheepdog
import-order-style = smarkets
max-line-length = 119
no-accept-encodings = True
